@page "/class/{classId:int}"
@using Cifra.Api.Client
@using System.Text.RegularExpressions
@using Cifra.Frontend.Extensions;
@inject ICifraApiClient Client
@inject NavigationManager NavManager
@inject IWebHostEnvironment Environment

<div class="container">
    @if (retrievedClass != null)
    {
        <PageTitle>Class: @retrievedClass.Name</PageTitle>
        <div class="row">
            <div class="col-4">
                <h1>Class: @retrievedClass.Name</h1>
            </div>
        </div>

        <EditForm Model="@retrievedClass" OnValidSubmit="@HandleUpdateClass">
            <DataAnnotationsValidator />
            <ValidationSummary />
                <div class="row">
                    <table class="table col">
                        <thead>
                            <tr>
                                <th class="col-3">@nameof(Student).ToDisplayFormat()</th>
                                <th class="col-3">@nameof(Student.FirstName).ToDisplayFormat()</th>
                                <th class="col-3">@nameof(Student.LastName).ToDisplayFormat()</th>
                                <th class="col-3">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Student student in retrievedClass.Students)
                            {
                                <tr>
                                    <td>
                                        @{
                                            _counter++;
                                        }
                                        @_counter
                                    </td>
                                    <td>
                                        <InputText id="@{ student.Id + student.FirstName }" class="form-control" @bind-Value="student.FirstName" />
                                    </td>
                                    <td>
                                        <InputText id="@{ student.Id + student.LastName }" class="form-control" @bind-Value="student.LastName" />
                                    </td>
                                    <td>
                                        <div class="btn btn-outline-danger" @onclick="(() => RemoveStudent(student))">Delete</div>
                                    </td>
                                </tr>
                            }
                            <tr>
                            <td>
                                @{
                                    _counter++;
                                }
                                @_counter
                                @{
                                    _counter = 0;
                                }
                            </td>
                                <td>
                                <input id="newFirstName" type="text" class="form-control" @bind="_firstName" />
                                </td>
                                <td>
                                <input id="newFirstName" type="text" class="form-control" @bind="_lastName" />
                                </td>
                                <td>
                                <div class="btn btn-outline-success" @onclick="(() => AddStudent())">Add</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </EditForm>
    }

    <div class="row">
        <div class="col-4">
            <h2>Add students</h2>
        </div>
    </div>

    <div class="row">
        <EditForm Model="@addStudentsRequest" OnValidSubmit="@HandleAddStudents" class="col">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputFile OnChange="@LoadFiles" />

            <div class="row mt-2">
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </div>

</div>

@code {
    [Parameter]
    public int ClassId { get; set; }

    private Api.Client.Class retrievedClass;
    private AddStudentsRequest addStudentsRequest = new AddStudentsRequest();
    private Regex nameRegex = new Regex(@"^(?<firstName>\w+)\ (?<lastName>\w.*)$");
    private int _counter = 0;
    private string? _firstName = null;
    private string? _lastName = null;

    protected override async Task OnInitializedAsync()
    {
        addStudentsRequest.Students = new List<StudentDto>();
        var response = await Client.ClassGET2Async(ClassId, "1");
        retrievedClass = response.RetrievedClass;
        await base.OnInitializedAsync();
    }

    private async Task HandleUpdateClass()
    {
        //var request = new UpdateClassRequest
        //    {
        //        Class = retrievedClass
        //    };

        //var response = await Client.ClassPUTAsync("1", request);

        //if (response.ValidationMessages.Any())
        //{
        //    // Show validation messages
        //}

        //// Redirect to class view
        //NavManager.NavigateTo($"/class/{ClassId}", forceLoad: true);
    }

    private async Task HandleAddStudents()
    {
        var response = await Client.StudentAsync(ClassId, "1", addStudentsRequest);

        if (response.ValidationMessages.Any())
        {
            // Show validation messages
        }

        // Redirect to class view
        NavManager.NavigateTo($"/class/{ClassId}", forceLoad: true);
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        addStudentsRequest.Students.Clear();
        var trustedFileNameForFileStorage = Path.GetTempFileName();

        await using FileStream fs = new(trustedFileNameForFileStorage, FileMode.Create);
        await e.File.OpenReadStream().CopyToAsync(fs);
        fs.Close();
        using var sr = new StreamReader(File.OpenRead(trustedFileNameForFileStorage));
        var t = await sr.ReadLineAsync();
        while (!sr.EndOfStream)
        {
            string? line = await sr.ReadLineAsync();
            if(line == null){
                break;
            }

            string content = line.Split(';', StringSplitOptions.TrimEntries | StringSplitOptions.RemoveEmptyEntries)[0];
            var nameParts = nameRegex.Match(content).Groups;
            var student = new StudentDto
                {
                    FirstName = nameParts.GetValueOrDefault("firstName").Value,
                    LastName = nameParts.GetValueOrDefault("lastName").Value
                };
            addStudentsRequest.Students.Add(student);
        }
        sr.Close();
        File.Delete(trustedFileNameForFileStorage);
    }

    private void RemoveStudent(Student student)
    {
        retrievedClass!.Students.Remove(student);
    }

    private void AddStudent()
    {
        if(string.IsNullOrWhiteSpace(_firstName) || string.IsNullOrEmpty(_lastName))
        {
            // Do validation
        }

        retrievedClass!.Students.Remove(new Student{
            FirstName = _firstName,
            LastName = _lastName 
        });

        _counter = 0;
    }
}

